.form-container {
  margin: 0 auto;
  padding: 1rem;
  display: grid;
  max-width: 100%;
  align-items: center;
  justify-content: space-around;
}
.left-form-column {
  grid-row: 1;
  grid-column: 1;
}
.right-form-column {
  grid-row: 1;
  grid-column: 2;
}
.left-form-flex, .right-form-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-text {
  font-family: 'Roboto Slab', serif;
}

/* @media screen and (max-width: 450px) {
  .form-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
} */

@media screen and (min-width: 451px) {
  .form-container {
    max-width: 70vw;
  }
}
