.ant-select-selection {
  height: 2.5rem;
  font-size: 1.3em;
}
.ant-select-selection-selected-value {
  text-align: center;
  float: none;
  padding: .2rem;
}
.mobile-header-flex {
  display: grid;
  margin: 0 auto;
  padding: 1rem;
}
.mobile-hamburger-text {
  font-size: 1.3em;
  border: 1px solid black;
  color: black;
  text-decoration: none;
  margin: 1rem auto;
}

.mobile-select-day {
  grid-row: 1;
  grid-column: 2;
  max-width: 200px;
  padding-top: 2rem;
}
/* Position and sizing of burger button */
.bm-burger-button {
  grid-row: 1;
  grid-column: 1;
  position: relative;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: rgb(255, 255, 255);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
